.quizConstructor {
	position: relative;

	width: 100%;
	max-width: 850px;
	margin: 0 auto;

	border-radius: 10px;
	border: 2px solid #aaa;

	padding: 10px;
	&__answerOption {
		margin-bottom: 20px;
		display: flex;
		.input__wrapper {
			flex: 1 1 0;
			margin-bottom: 0;
			&:first-child:not(:last-child) {
				flex: 0 0 30px;
			}
			&.invalid {
				margin-bottom: 5px;
			}
		}
	}
}

.quizConstructor__radioInput {
	flex: 0 0 30px;
	height: 36px;
}

.formErrorMessage {
	font-size: 18px;
	font-weight: 500;
	color: #f01f30;
	margin-bottom: 15px;
}
