@import '../../vars';

.input__wrapper {
	position: relative;
	margin-bottom: 20px;
	.input {
		width: 100%;

		border: 2px solid #aaa;
		border-radius: 6px;

		padding: 5px 10px;
		font-size: 18px;

		background-color: lighten($secondaryColor, 7%);

		&:not(:first-child) {
			margin-top: 5px;
		}
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		&:focus {
			outline: none;
			border: 2px solid black;
		}

		&__radio {
			display: none;
			& + .input__label {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				margin: 0;

				$size: 15px;
				width: $size;
				height: $size;
				border-radius: 50%;

				box-shadow: 0 0 5px #555, 0 0 10px #555;

				transition: box-shadow 0.2s ease-in-out;

				cursor: pointer;
				&:hover {
					box-shadow: 0 0 5px #111, 0 0 10px #111;
				}
				&::before {
					content: '';
					display: none;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background-color: #444;

					$size: 9px;
					width: $size;
					height: $size;
					border-radius: 50%;
				}
			}
			&:checked + .input__label {
				cursor: default;
				&:hover {
					box-shadow: 0 0 5px #555, 0 0 10px #555;
				}
				&::before {
					display: block;
				}
			}
		}
	}

	.input__label {
		width: auto;
	}

	&.inlineLabel {
		display: flex;
		align-items: center;
		.input,
		.input__label {
			margin-top: 0;
			margin-bottom: 0;
		}
		.input__label {
			flex: 0 0 35px;
		}
	}

	.input__error {
		position: absolute;
		left: 10px;
		bottom: 0;
		transform: translateY(100%);

		margin-left: 10px;
		color: #f01f30;
		font-size: 16px;
		font-weight: 500;
	}

	&.invalid {
		margin-bottom: 25px;
		& .input {
			border: 2px solid #cf2b38;
		}
		& .input__label {
			color: #f01f30;
		}
	}
}
