@import '../../vars';

.input__block {
	position: relative;
	margin-bottom: 20px;
	.input__wrapper {
		position: relative;
		width: 100%;
		min-height: 36px;
		height: min-content;

		&:not(:first-child) {
			margin-top: 5px;
		}
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		.input {
			width: 100%;
			border: 2px solid #aaa;
			border-radius: 6px;

			padding: 5px 30px 5px 10px;
			font-size: 18px;

			background-color: lighten($secondaryColor, 7%);

			&:focus {
				outline: none;
				border: 2px solid black;
			}

			// radio input
			&[type='radio'] {
				display: none;
				& + .input__label {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					margin: 0;

					$size: 15px;
					width: $size;
					height: $size;
					border-radius: 50%;

					box-shadow: 0 0 5px #555, 0 0 10px #555;

					transition: box-shadow 0.2s ease-in-out;

					cursor: pointer;
					&:hover {
						box-shadow: 0 0 5px #111, 0 0 10px #111;
					}
					&::before {
						content: '';
						// display: none;
						opacity: 0;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background-color: #444;

						$size: 9px;
						width: $size;
						height: $size;
						border-radius: 50%;

						transition: opacity 0.2s ease-in-out;
					}
				}
				&:checked + .input__label {
					cursor: default;
					&:hover {
						box-shadow: 0 0 5px #555, 0 0 10px #555;
					}
					&::before {
						opacity: 1;
						// display: block;
					}
				}
			}

			// checkbox input
			&[type='checkbox'] {
				display: none;
				& ~ .input__label {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					margin: 0;
					$size: 18px;
					width: $size;
					height: $size;
					border: 1px solid #333;
					border-radius: 4px;
					box-shadow: 0 0 0 transparent;
					background-color: transparent;
					cursor: pointer;

					transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
					&:hover {
						box-shadow: 0 0 4px #333;
					}
					&::before {
						display: none;

						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);

						clip-path: polygon(20% 45%, 9% 56%, 41% 84%, 89% 33%, 78% 21%, 41% 63%);
						$size: 18px;
						width: $size;
						height: $size;

						background-color: #f7f7f7;
					}
				}
				&:checked ~ .input__label {
					background-color: #333;
					&::before {
						display: block;
					}
				}
			}

			&__length {
				position: absolute;
				right: 5px;
				top: 50%;
				margin: 0;
				pointer-events: none;
				font-weight: 500;
				color: #777;

				transform: translate(0, -50%);
			}
		}
	}

	.input__label {
		width: auto;
	}

	&.inlineLabel {
		display: flex;
		align-items: center;
		.input,
		.input__label {
			margin-top: 0;
			margin-bottom: 0;
		}
		.input__label {
			flex: 0 0 35px;
		}
	}

	.input__error {
		position: absolute;
		left: 10px;
		bottom: 0;
		transform: translateY(100%);

		margin-left: 10px;
		color: #f01f30;
		font-size: 16px;
		font-weight: 500;
	}

	&.invalid {
		margin-bottom: 25px;
		& .input {
			border: 2px solid #cf2b38;
		}
		& .input__label {
			color: #f01f30;
		}
	}
}
